.Phonetic {
  height: 60px;
}
.link {
  border: 3px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.link:hover {
  background-color: purple;
  color: white;
}
